.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
}

.header {
    color: red;
    margin: 0 20px 0 0;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: black;
    color: white;
    padding: 0;
}

.nav li {
    flex: 1 1 auto;
    border-right: 1px solid white;
    text-align: center;
    padding: 20px 0;
}

.nav li:hover {
    background-color: slategray;
    color: white;
}


.nav li a {
    text-decoration: none;
    color: white;
}

.nav li:last-of-type {
    border: none;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.article {
    border-bottom: 1px solid grey;
    padding: 0 0 20px 0;
}

.article__text {
    color: grey;
}

.article__date {
    font-size: 32px;
    color: grey;
}

.article__title {
    font-size: 24px;
}
.article__link {
    color: red;
    text-align: right;
}

.aside-container {
    flex: 0 0 300px;
}